.attempt-row {
    display: flex;
}

.attempt-row-cell {
    width: 70px;
    height: 70px;
    border-radius: 5px;
    margin: 5px;
    border: solid black 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}